body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
}

#sun-icon {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 10em;
  color: #ff0;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; /* Increase font weight */
  font-size: 2.5em; /* Increase font size */
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#app {
  width: 300px;
  padding: 20px;
  background-color: lightblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#city-input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px; /* Increase bottom margin */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: 600; /* Increase font weight */
}

#get-weather {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Increase bottom margin */
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800; /* Increase font weight */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

#get-weather:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Scale the button up to 105% when hovered over */
}

#weather-data {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: 500; /* Increase font weight */
  text-align: center; /* Center the text */
}

.temperature {
  font-size: 2em; /* Adjust this value to change the size */
  font-weight: 500; /* Increase font weight */
  margin: 20px 0; /* Add space around the text */
}
